---
import CevicheInvitation from '../components/CevicheInvitation.astro';
---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Ceviche Mágico</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <CevicheInvitation />
</body>
</html>